html, body {
  height: 100%;
  margin: 50px;
}

#tideApp{  font-family:Verdana; background-color: #f5f5f5; width: 550px;}

#map {
  height: 400px; width: 550px;
  padding-left: 0;
  padding-right: 0;
  border: solid;
  border-width: 2px;
  border-color: #777777;
}

#top {height: 10px; width: 550px; border: solid; border-width: 2px; border-color: #777777; background-color:#03396c;}

#selectdate {
  background-color: #03396c;
  height: auto;
  width:550px;
  border:solid;
  border-color: #777777;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 0px;
}

#alerts {color:#dd0e0e; font-family: Verdana; font-size: 18px;}

#promptA {background-color: #e0eeee; border:solid; 
  border-color: #777777;
  border-width: 2px;
  font-weight: bold;}

#getTides {background:	#008000; color: #e0eeee; font-family: Verdana;} 
#returnBtn {background:	#6497b1;}

#plotter {
	width: 550px;
  padding-left: 0;
  padding-right: 0;
  border: solid;
  border-width: 2px;
  border-color: #777777;
}

.copyright {text-align:right; color:#e0eeee; font-size:10px;}

#tideCanvas {margin-left: 10px;}

#selectors {width: 200px;}


#app {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

  #promptD{background-color: #e0eeee; border:solid;
  width: 300px;
    border-color: #777777;
    height: 27px;
    border-width: 2px;
    font-weight: bold;}
