html, body {
  height: 100%;
}

#tideApp{  font-family:Verdana;}

#map {
  height: 250px; width: 320px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-width: 2px;
  border-color: #777777;
}

#selectdate {
  background-color: #03396c;
  height: auto;
  width:320px;
  border:solid;
  border-color: #777777;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 0px;
}

#alerts {color:#dd0e0e; font-family: Verdana; font-size: 13px;}

#promptA , #promptB, #promptC{background-color: #e0eeee; border:solid; padding-left:5px;
  border-color: #777777;
  margin-top: 10px;
  font-size: 10px;
  border-width: 2px;
  margin-right: 10px;
  font-weight: bold;}

#portSelection {
  border:solid;
  height: auto;
  width:320px;
  border-width: 2px;
  border-color:#777777;
  background-color: 	#03396c;
  color: #e0eeee;
  font-size: 18px;
  padding-top: 0px;
  text-align: center;
  padding-top: 5px;
}



#getTides {background:	#008000; margin-top: 0px; margin-bottom:0px; color: #e0eeee; font-family: Verdana; font-size: 10px;} 
#returnBtn {background:	#6497b1; font-size: 10px;}

#plotter {
	width: 320px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-width: 2px;
  border-color: #777777;
}

.copyright {text-align:right; color:#e0eeee; font-size:8px; margin-top: 3px;}

#tideCanvas {margin-left: 8px;}

#selectors {margin-left: 0px; margin-top: 5px; margin-bottom: 0px;}

#oneDay, #multDay {background:	#6497b1; font-size: 10px; margin-bottom: 5px;}

#app {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}


  #promptD{background-color: #e0eeee; border:solid; padding-left:5px;
  width: 300px;
    border-color: #777777;
    height: 27px;
    border-width: 2px;
    margin-right: 10px;
    margin-top: 5px;
    font-weight: bold;}
