html, body {
  height: 100%;
}

#tideApp{  font-family:Verdana;}

#map {
  height: 400px; width: 550px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-width: 2px;
  border-color: #777777;
}

#selectdate {
  background-color: #03396c;
  height: auto;
  width:550px;
  border:solid;
  border-color: #777777;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 0px;
}

#alerts {color:#dd0e0e; font-family: Verdana; font-size: 18px;}

#promptA , #promptB, #promptC{background-color: #e0eeee; border:solid; padding-left:5px;
  border-color: #777777;
  border-width: 2px;
  margin-right: 10px;
  font-weight: bold;}

#portSelection {
  border:solid;
  height: auto;
  width:550px;
  border-width: 2px;
  border-color:#777777;
  background-color: 	#03396c;
  color: #e0eeee;
  padding-top: 0px;
  padding: 10px;
  text-align: center;
}



#getTides {background:	#008000; margin-bottom:3px; color: #e0eeee; font-family: Verdana;} 
#returnBtn {background:	#6497b1;}

#plotter {
	width: 550px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-width: 2px;
  border-color: #777777;
}

.copyright {text-align:right; color:#e0eeee; font-size:10px;}

#tideCanvas {margin-left: 10px;}

#selectors {margin-left: 0px; margin-top: 5px; margin-bottom: 5px;}

#oneDay {background:	#6497b1;}

#multDay {background:#6497b1;}

#app {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
