html, body {
  height: 100%;
  margin: 50px;
  padding: 0;
}

#map {
  height: 400px; width: 550px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-color: #49796b;
}

#selectdate {
  background-color: #a0d6b4;
  height: auto;
  width:550px;
  border:solid;
  border-color: #49796b;
  padding-top: 5px;
  padding-bottom: 5px;
}

#getTides {float:right;}

#portSelection {
  border:solid;
  height: auto;
  width:550px;
  border-color:#49796b;
  background-color: #a0d6b4;
}

#getTides {background:#49796b;} 
#returnBtn {background:#49796b;}

#plotter {
	width: 550px;
  padding-left: 0;
  padding-right: 0;
  border-left:solid;
  border-right:solid;
  border-color: #49796b;
}

#tideCanvas {margin-left: 10px;}

#daters {margin: 5px;}

#oneDay {background:#49796b; margin: 10px;}

#multDay {background:#49796b; margin: 10px;}

#chooseLocation {background:#49796b;}

#app {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
